@import "https://fonts.googleapis.com/css?family=Dosis:300,700|Open+Sans:300,300i,600";
/* Common settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  background-color: #f2f2f2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

h3 {
  padding-bottom: 20px; }

p {
  margin-bottom: 5px; }

ul, nav {
  list-style: none; }

a,
a:visited {
  color: #2b7894;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  opacity: 0.9; }

a:hover {
  opacity: 1;
  color: #024fff; }

section, footer {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 10vw 60px 10vw; }

@media (max-width: 500px) {
  section, footer {
    padding-left: 5vw;
    padding-right: 5vw; } }
/* header */
header {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #2b7894;
  padding: 0px 5vw;
  font-size: 20px; }
  header i {
    color: #ffffff; }
  header nav {
    display: -webkit-flex;
    display: flex; }
    header nav li {
      margin: 0 15px; }
    header nav a,
    header nav a:visited,
    header nav a:hover {
      color: #ffffff; }

/* dividers between sections */
.main-divider {
  width: 100%;
  height: 50px;
  font-family: 'Dosis', sans-serif;
  font-size: 28px;
  line-height: 50px;
  padding-left: 10vw; }
  .main-divider#home-divider {
    background-color: #fffff0; }
  .main-divider#details-divider, .main-divider#portfolio-divider {
    background-color: #2b7894;
    color: #57aece; }

/* Logo */
#logo-section {
  padding-top: 150px;
  padding-bottom: 150px;
  flex-direction: column; }

.base-initials, #logo .initials, .base-contact-initials, #contacts .initials, #contacts .avatar, #contacts .social {
  font-family: 'Dosis';
  text-align: center;
  font-weight: 700;
  border-radius: 50%;
  display: inline-block; }

.base-name, #logo .name, #contacts .name {
  font-family: 'Dosis';
  display: inline-block; }

#logo {
  font-size: 42px; }
  #logo .initials {
    width: 80px;
    height: 80px;
    line-height: 65px;
    border: 5px solid #ffffff; }
  #logo .name {
    line-height: 80px; }

#data-stream {
  position: absolute;
  width: 1000px;
  height: 270px;
  left: -20px;
  opacity: 0.2; }

/* talent summary */
#summary-section {
  justify-content: space-between; }

.talent {
  width: 200px;
  border-left: 1px solid #ffffff;
  padding: 10px; }
  .talent :nth-child(1) {
    font-weight: 600; }
  .talent p i {
    font-size: 24px; }

/* details */
#details-section {
  flex-direction: row; }

.details {
  width: 370px;
  border-left: 1px solid #ffffff;
  padding: 10px; }
  .details p.date {
    font-weight: 600;
    margin-bottom: 15px; }
  .details p.job {
    font-style: italic;
    margin-bottom: 15px; }
  .details li:before {
    content: "\2023 \0020"; }

/* coding portfolio */
#portfolio-section {
  flex-direction: row;
  justify-content: space-around;
  background-color: #37424b; }

.text-desc {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  height: 100%;
  opacity: 0;
  width: 100%;
  padding: 20px;
  font-weight: 600; }
  .text-desc h4 {
    margin-bottom: 5px; }

.code {
  position: relative;
  overflow: hidden;
  text-align: center;
  float: left;
  width: 200px;
  margin: 20px 10px; }
  .code img {
    width: 200px;
    padding: 4px;
    border: 1pt solid white;
    transition: 0.5s; }
  .code .text-desc {
    opacity: 0.9;
    top: -100%;
    transition: 0.3s;
    color: #000000;
    padding: 20px; }
  .code:hover img {
    transform: scale(1.2); }
  .code:hover .text-desc {
    top: 0; }

/* footer */
footer {
  justify-content: center;
  height: 300px; }

.base-contact-initials, #contacts .initials, #contacts .avatar, #contacts .social {
  width: 40px;
  height: 40px;
  line-height: 35px;
  border: 3px solid #ffffff; }

#contacts {
  font-size: 20px; }
  #contacts .name {
    line-height: 40px; }
  #contacts .avatar {
    background-image: url("https://s19.postimg.org/wmz7ukyn7/avatar.jpg");
    background-size: 50px;
    background-position: top;
    background-repeat: no-repeat; }
  #contacts .social {
    background-color: #f0efe2; }

/*# sourceMappingURL=style.css.map */
